<div class="hero-unit">
	<h1>Administrative System</h1>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="col-xs-4">
		<h2>Latest Feedback</h2>
	</div>
	<div class="col-xs-4">
		<h2>Highest Rated Users</h2>
	</div>
	<div class="col-xs-4">
		<h2>Lowest Ratest Users</h2>
	</div>
</div>
