<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-login'} ) do |f| %>
  <h2 class="form-login-heading">Reactions</h2>

  <div class="login-wrap">

    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %><br />

    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %><br />

    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Sign in</button>
    <hr>
    <div class="pull-right">
      <%= link_to "Forgot password?", new_password_path(resource_name) %>
    </div>
    <br />
  </div>
<% end %>
