<section class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-male fa-fw"></i> <strong>Editing <%= @user.name %></strong></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</section>
