<!DOCTYPE html>
<html>
<head>
  <title>Thanks for reviewing | Reactions</title>
  <%= render partial: 'shared/styles_meta' %>
</head>
<body id="reviews">
  <div id="reviews-page">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render partial: 'shared/scripts' %>
</body>
</html>
